.container {
  flex-shrink: 0;
  flex-wrap: nowrap;
}

.collapsibleContainer {
  composes: container;
  overflow: hidden;
}

.collapsed {
  visibility: hidden;
  position: absolute;
  pointer-events: none;
}
