.container {
  padding: 0;
  flex-shrink: 0;
  flex-wrap: nowrap;
}

.collapsibleContainer {
  composes: container;
  overflow: hidden;
}

.collapsed {
  visibility: hidden;
  position: absolute;
  pointer-events: none;
}

.moreDropdownTrigger {
  color: light-dark(var(--mantine-colors-black), var(--mantine-colors-dark-0));
}
