.table {
  tr {
    td:last-of-type > div > button:not(:last-of-type) {
      visibility: hidden;
    }
  }

  tr:hover {
    td:first-of-type {
      text-decoration: underline;
      cursor: pointer;
    }

    td:last-of-type > div > button:not(:last-of-type) {
      visibility: visible;
    }
    background-color: var(--mantine-color-default-hover);
  }
}

.actionColumn {
  tr {
    th:last-of-type {
      width: 0.1%;
      white-space: nowrap;
    }
  }
}

.removeMargin {
  & > div {
    margin: 0 calc(-1 * var(--mantine-spacing-md));
  }
}
